body {
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    /* back-ground image*/
    /* background-image: url(./img/gamepic.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

strong {
    color: red;
}

details {
    font-size: x-large;
    color: white;
}

div {
    margin: 20px auto;
    width: 75%;
}

p {
    color: black;
}