body {
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: bolder;
    text-align: center;

}

strong {
    color: red;
}


#main {
    margin: 150px auto;
    width: 75%;

}

button {
    padding: 10px;
    color: black;
    font-size: larger;
}